@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,700;1,500;1,700&family=Merriweather:ital,wght@0,300;0,400;0,700;1,900&family=Poppins:ital,wght@0,300;0,700;1,100;1,400;1,700&family=Roboto+Condensed:wght@400;700&family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(70, 97, 78);
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.key-code {
  position: relative;
  font-size: 30px;
  margin: 10px;
  padding: 20px;
  background-color: rgb(36, 36, 33);
  color: white;
  min-width: 150px;
  border-radius: 16px;
  text-align: center;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.4);
}

.key-code:hover {
  opacity: 0.9;
}

.key-code small {
  position: absolute;
  top: -21px;
  left: 0;
  font-size: 16px;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: rgb(179, 162, 162);
}

h2 {
  color: antiquewhite;
  font-size: 30px;
  outline: none;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.4);
}
